.form {
    background-color: teal;
    text-align: center;
    color: #aaffaa;
    padding: 1vw;
    height: 20vw;
    width: 30vw;
    margin: 10% auto;

}

.form input {
    display: block;
    margin: 1vw auto;
    width: 90%;
    height: 2vw;
    outline: none;
    background-color: teal;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 1px solid darkgray;
}

.form button {
    margin: 2vw 2vw;
    border-radius: 35px;
    outline: none;
    font-size: 1.7vw;
    padding: 0 1vw;
    background-color: rgb(255, 81, 0);
    color: white;
    width: 70%;
}